body{
    margin: 0;
    padding: 0;
    height: 100%;
    opacity: 0.7;
  }
  
  .App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  #root {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100vh;
    width: 100vw;
    background-color: grey;
  }
.pawstatic {
    display: flex;
    height: 90vh;
    width: 90vw;
    border-radius: 4%;
    
    
}
.radioButtons {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 80vh;
    width: 30vw;
    background-color: rgb(17, 16, 16);
    border-radius: 4% 0 0 4%;
    color: honeydew;
}
.radioButtons_icon{
    position: relative;
    margin: 4vh auto;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
.radioButtons_icon::before{
    content: "";
    position: absolute;
    left:-60px;
    top: -8px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-image: url(https://image.flaticon.com/icons/png/512/17/17479.png);
    background-size: contain;
    background-color: pink;
}
.vertical{
    border-left:1px solid rgb(61, 58, 58);
    height: 70px;
    margin: -20px 0 -20px 10px;
}

.radioButtons_btn {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-flow: column nowrap;
    height: 40vh;
    padding-left:10vw ;
}
.radioButtons_image {
    margin-bottom: -15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 25vh;
    background-image: url(https://img.pngio.com/labrador-vector-clipart-images-gallery-for-free-download-myreal-golden-retriever-head-png-798_837.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
}
hr {
    margin-top: -3px;
    width:100%;
}

.dog_form {
    display: flex;
    flex-flow: column nowrap;
    height: 80vh;
    width: 50vw;
    background-color: rgba(201, 144, 171, 0.557);
    border-radius: 0 4% 4% 0;
}
.dog_form__main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    height: 55vh;
}
p {
    text-align: left;
}
.image_load {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin:0 4vw ;
    font-size: 1.1rem;
}
.image_load::before {
    content: '';
    background-image: url(https://lh3.googleusercontent.com/proxy/MbZPOHcWwfKUXZ7Q7qxSyIMfCXLqznGgjaKjfB7qW1gjQnxHtipNV1N7lUsJoGjtDyz3TdCjbPWxkgSxqDqHQQwTaocunafMtI_sRByeUOzquKZHoUU-z8gJyxfazz_HYXk2);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 55px;
    width: 55px;
    position: absolute;
    left: -60px;
    background-color: honeydew;
    border-radius: 50%;
}
.dog_form__weight,.dog_form__bottom,.dog_form__center,.dog_form__top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

input {
    height: 5vh;
    width: 15vw;
    text-align: center;
    margin-bottom: 1vh;
}
.dog_form__weight__field {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    width: 40vw;
    background-color: honeydew;
}
.dog_form__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 10vh;
}
.dog_form__footer > button {
    height: 5vh;
    width: 10vw;
    border-radius: 30px;
    position: relative;
    background-color: rgb(211, 201, 201);
    font-size: 1.5rem;
}
button:focus {
    background-color: rgb(51, 48, 49);
}

.lbs1, .lbs2, .lbs3, .lbs4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 3vh;
    border: 1px solid white;
    text-align: center;
    font-size: 1rem;
}
.lbs1:focus, .lbs2:focus, .lbs3:focus, .lbs4:focus {
    background-color: rgba(255, 192, 203, 0.815);
}

.switch,.switch1,.switch2,.switch3 { 
    position : relative ;
    display : inline-block;
    width : 20px;
    height : 20px;
    background-color: rgb(61, 58, 58);
    border-radius: 20px;
    margin-right: 1vw;
}
  .switch::after, .switch1::after, .switch2::after, .switch3::after {
    display: none;
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: white;
    top: -3px;
    left: -5px;
    transition: all 0.1s;
}
  .checkbox:checked + .switch::after  {
    display: inline-block;
}
  .checkbox { 
    display : none;
}